/* You may use the following selectors, but it's not required. */
#header {
	font-size: 30pt;
	font-weight: 700;
	text-transform: uppercase; 
	padding: 20px 20px 20px 20px
}

#subheader {
	font-style: italic;
	padding: 0px 0px 20px 0px;
	color: #d80000;

}
body {
	color: #000;
	background-color: #fff;
	font-size: 12pt;
	font-family: Open Sans;
	margin: 0 auto;
	text-align: center;
	position: absolute;
	left: 250px;
	right: 250px
	top: 50px;
}

a {
	text-decoration: none;
}

#link {
	width: 200px;
	background-color: #d6bac8;
	font-color: #ffffff;
	font-weight: bold;
	padding: 20px 15px;
	margin: 35px auto 20px;

}



